@import url('./styles.css');

.container {
  width: 480px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
}

.wrapper {
  text-align: center;
}

#datetime-picker {
  border: none;
  border: 1px solid silver;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 0.04em;
  padding: 10px;
  text-align: center;
}

#datetime-picker:disabled {
  background-color: lightgray;
  cursor: auto;
}

span {
  display: block;
}

.timer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.field {
  text-align: center;
}

.value {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.04em;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.02em;
}
